:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

html,
body {
  height: 100%;
  font-family: Rubik, sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  background-color: #004980;
  overflow: hidden;
}

.center {
  padding-right: calc(50% - 518px);
  padding-left: calc(50% - 518px);
}

.block-game {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-game__info-block {
  min-width: 480px;
  border-radius: 12px;
  background-color: #c2f5ff;
}

.form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 52px;
  padding-bottom: 68px;
}

.form__error {
  position: absolute;
  bottom: 45px;
  font-size: 12px;
  color: salmon;
}

.form__error_hidden {
  display: none;
}

.form__title {
  width: 220px;
  font-size: 40px;
  line-height: 1.2;
  color: #004980;
  text-align: center;
  margin-bottom: 48px;
}

.block-options {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-bottom: 68px;
}

.block-options__input {
  position: absolute;
  left: -1000px;
}

.block-options__name {
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid transparent;
  color: #0080c1;
  font-size: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 97px;
  height: 98px;
  -webkit-transition: border 0.3s, background-color 0.3s;
  transition: border 0.3s, background-color 0.3s;
}

.block-options__name:hover {
  border: 1px solid #0080c1;
  cursor: pointer;
}

.block-options:checked + .block-options__name {
  background-color: #f2f1f0;
  border: 1px solid #757578;
}

.button {
  background-color: #7ac100;
  border-radius: 12px;
  border: 1px solid transparent;
  font-size: 24px;
  color: #fff;
  line-height: 1.33;
  width: 246px;
  height: 50px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  position: relative;
}

.button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 27px 27px #357330 inset;
          box-shadow: 0 0 27px 27px #357330 inset;
}

.button_inactive {
  background-color: #357330;
}
/*# sourceMappingURL=style.css.map */