:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

html,
body {
  height: 100%;
  font-family: Rubik, sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  background-color: #004980;
  overflow: hidden;
}

.center {
  padding-right: calc(50% - 326px);
  padding-left: calc(50% - 326px);
}

.block-game {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-game__info-block {
  min-width: 480px;
  border-radius: 12px;
  background-color: #c2f5ff;
}

.form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 52px;
  padding-bottom: 68px;
}

.form__error {
  position: absolute;
  bottom: 45px;
  font-size: 12px;
  color: salmon;
}

.form__error_hidden {
  display: none;
}

.form__title {
  width: 220px;
  font-size: 40px;
  line-height: 1.2;
  color: #004980;
  text-align: center;
  margin-bottom: 48px;
}

.block-options {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-bottom: 68px;
}

.block-options__input {
  position: absolute;
  left: -1000px;
}

.block-options__name {
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid transparent;
  color: #0080c1;
  font-size: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 97px;
  height: 98px;
  -webkit-transition: border 0.3s, background-color 0.3s;
  transition: border 0.3s, background-color 0.3s;
}

.block-options__name:hover {
  border: 1px solid #0080c1;
  cursor: pointer;
}

.block-options__input:checked + .block-options__name {
  background-color: #f2f1f0;
  border: 1px solid #757578;
}

.button {
  background-color: #7ac100;
  border-radius: 12px;
  border: 1px solid transparent;
  font-size: 24px;
  color: #fff;
  line-height: 1.33;
  width: 246px;
  height: 50px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  position: relative;
}

.button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 27px 27px #357330 inset;
          box-shadow: 0 0 27px 27px #357330 inset;
}

.button_inactive {
  background-color: #357330;
}

.block-game__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px;
  min-width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.block-timer__name {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-timer__name p {
  text-align: end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.block-timer__value {
  font-size: 64px;
  line-height: 1.125;
}

.block-timer__value-minute {
  text-align: end;
  min-width: 81px;
  display: inline-block;
}

.block-timer__value-sec {
  text-align: end;
  min-width: 81px;
  display: inline-block;
}

.block-game__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}

.block-game__card-wrapper {
  position: relative;
  width: 95px;
  height: 133px;
  padding: 6px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.block-game__card-wrapper_background:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 17px 6px #fff;
          box-shadow: 0px 0px 17px 6px #fff;
}

.card-block {
  min-height: 100%;
  border-radius: 4px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.card-block__info_top {
  top: 0;
  left: 0;
}

.card-block__info_bottom {
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card-block__suit {
  width: 10px;
  height: 10px;
}

.card-block__suit img {
  display: block;
  width: 100%;
  height: auto;
}

.card-block__name {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1.33;
}

.card-block__background {
  display: none;
  border-radius: 4px;
  position: absolute;
  top: 6px;
  left: 6px;
  height: 121px;
  width: 83px;
  overflow: hidden;
  background-color: #e4fbff;
}

.card-block__background img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.block-game__card-wrapper_background .card-block__background {
  display: block;
}
/*# sourceMappingURL=style.css.map */