:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

input,
button,
textarea {
    font-family: inherit;
}

html,
body {
    height: 100%;
    font-family: Rubik, sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #000;
    background-color: #004980;
    overflow: hidden;
}

.center {
    padding-right: calc(50% - 518px);
    padding-left: calc(50% - 518px);
}

.block-game {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__info-block {
        min-width: 480px;
        border-radius: 12px;
        background-color: #c2f5ff;
    }
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 52px;
    padding-bottom: 68px;

    &__error {
        position: absolute;
        bottom: 45px;
        font-size: 12px;
        color: salmon;

        &_hidden {
            display: none;
        }
    }

    &__title {
        width: 220px;
        font-size: 40px;
        line-height: 1.2;
        color: #004980;
        text-align: center;
        margin-bottom: 48px;
    }
}

.block-options {
    position: relative;
    display: flex;
    gap: 24px;
    margin-bottom: 68px;

    &__input {
        position: absolute;
        left: -1000px;
    }

    &__name {
        background-color: #fff;
        border-radius: 12px;
        border: 1px solid transparent;
        color: #0080c1;
        font-size: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 97px;
        height: 98px;
        transition: border 0.3s, background-color 0.3s;

        &:hover {
            border: 1px solid #0080c1;
            cursor: pointer;
        }
    }

    &__input:checked + &__name {
        background-color: #f2f1f0;
        border: 1px solid #757578;
    }
}

.button {
    background-color: #7ac100;
    border-radius: 12px;
    border: 1px solid transparent;
    font-size: 24px;
    color: #fff;
    line-height: 1.33;
    width: 246px;
    height: 50px;
    transition: box-shadow 0.3s;
    position: relative;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 27px 27px rgba(53, 115, 48, 20%) inset;
    }

    &_inactive {
        background-color: rgba(53, 115, 48, 40%);
    }
}

.block-game__info {
    display: flex;
    padding-left: 28px;
    padding-right: 28px;
    margin-bottom: 36px;
    min-width: 100%;
    justify-content: space-between;
    align-items: center;
}

.block-timer {
    display: flex;
    flex-direction: column;
    color: #fff;

    &__name {
        font-size: 16px;
        display: flex;

        & p {
            text-align: end;
            flex: 0 0 50%;
        }
    }

    &__value {
        font-size: 64px;
        line-height: 1.125;
    }
}

.block-game__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.block-game__card-wrapper {
    position: relative;
    width: 95px;
    height: 133px;
    padding: 6px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: box-shadow 0.3s;

    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 17px 6px #fff;
    }
}

.card-block {
    min-height: 100%;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-block__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;

    &_top {
        top: 0;
        left: 0;
    }

    &_bottom {
        bottom: 0;
        right: 0;
        transform: rotate(180deg);
    }
}

.card-block__suit {
    width: 10px;
    height: 10px;

    & img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.card-block__name {
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1.33;
}

.block-game__card-wrapper_hidden .card-block__background {
    display: none;
}

.card-block__background {
    display: block;
    border-radius: 4px;
    position: absolute;
    top: 6px;
    left: 6px;
    height: 121px;
    width: 83px;
    overflow: hidden;
    background-color: #e4fbff;

    & img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}
