.block-game__info {
    display: flex;
    margin-bottom: 36px;
    min-width: 100%;
    justify-content: space-between;
    align-items: center;
}

.block-timer {
    display: flex;
    flex-direction: column;
    color: #fff;

    &__name {
        font-size: 16px;
        display: flex;

        p {
            text-align: end;
            flex: 0 0 50%;
        }
    }

    &__value {
        font-size: 64px;
        line-height: 1.125;
    }

    &__value-minute {
        text-align: end;
        min-width: 81px;
        display: inline-block;
    }

    &__value-sec {
        text-align: end;
        min-width: 81px;
        display: inline-block;
    }
}

.block-game__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.block-game__card-wrapper {
    position: relative;
    width: 95px;
    height: 133px;
    padding: 6px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: box-shadow 0.3s;

    &_background:hover {
        cursor: pointer;
        box-shadow: 0px 0px 17px 6px #fff;
    }
}

.card-block {
    min-height: 100%;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-block__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;

    &_top {
        top: 0;
        left: 0;
    }

    &_bottom {
        bottom: 0;
        right: 0;
        transform: rotate(180deg);
    }
}

.card-block__suit {
    width: 10px;
    height: 10px;

    & img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.card-block__name {
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1.33;
}

.card-block__background {
    display: none;
    border-radius: 4px;
    position: absolute;
    top: 6px;
    left: 6px;
    height: 121px;
    width: 83px;
    overflow: hidden;
    background-color: #e4fbff;

    & img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}

.block-game__card-wrapper_background .card-block__background {
    display: block;
}
