.result {
    position: fixed;
    background-color: rgb(0 73 128 / 90%);
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__background {
        background-color: $light-background;
        min-width: 480px;
        min-height: 459px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
    }
}

.info-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 28px;

    &__image {
        width: 90px;
        height: 90px;
        text-align: center;
        margin-bottom: 8px;

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__message-result {
        font-size: 40px;
        line-height: 1.2;
        color: $main-color;
    }
}

.time-result {
    margin-bottom: 40px;

    &__title {
        font-size: 24px;
        line-height: 1.3;
        margin-bottom: 10px;
        text-align: center;
    }

    &__data {
        font-size: 64px;
        line-height: 1.12;
        text-align: center;
    }
}
